.main {
  @include background(url("@img/main/main.jpg"));
  // .main__wrapper
  &__wrapper {
  }
  // .main__title
  &__title {
    font-size: 96px;
    line-height: 104px;

    font-family: "Yiggivoo";
    font-weight: 400;

    color: $primaryColor;
    text-transform:lowercase;
  }
  // .main__span
  &__span {
    font-size: 150px;
    line-height: 188px;
  }
  // .main__box
  &__box {
  }
  // .main__link
  &__link {
    font-family: "Yiggivoo";
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: flex-end;

    color: #ffffff;
  }
}
